extends layout

block content
  header.top-header
    h1= title

  section#articles
    each key in json
      article
        h3 !{key.title}
        span Author: !{key.author}
        p !{key.description}
        a(href="/articles/"+key.alias)= "Read more"
